# -----------------------------------------
# /etc/systemd/system/ph4upsmon.service
# -----------------------------------------
[Unit]
Description=ph4upsmon
After=network.target
After=nut-server.service

[Service]
User=nut
Group=nut
WorkingDirectory=~
RuntimeDirectory=~

Type=simple
Environment=DNS_PUBLIC=tcp
Environment=TORSOCKS_ALLOW_INBOUND=1

ExecStart=/etc/nut/ph4upsmon.sh
StandardOutput=append:/var/log/ph4upsmon.log
StandardError=append:/var/log/ph4upsmon.log
# Another alternative for logging is to execute ExecStart as /bin/bash -c ""

RestartSec=5
Restart=always

[Install]
WantedBy=multi-user.target