# -----------------------------------------
# /etc/systemd/system/ph4conmon.service
# -----------------------------------------
[Unit]
Description=ph4conmon
After=network.target
After=nut-server.service

[Service]
User=tunnel
Group=tunnel
WorkingDirectory=~
RuntimeDirectory=~

Type=simple
Environment=DNS_PUBLIC=tcp
Environment=TORSOCKS_ALLOW_INBOUND=1

ExecStart=/home/tunnel/mon/ph4conmon.sh
StandardOutput=append:/var/log/ph4conmon.log
StandardError=append:/var/log/ph4conmon.log
# Another alternative for logging is to execute ExecStart as /bin/bash -c ""

RestartSec=5
Restart=always

[Install]
WantedBy=multi-user.target